body {
    background-color: rgb(177, 138, 21);
    color: rgb(48, 150, 14);
}

.banner {
    color: rgba(79, 114, 55, 0);
    font-size: 50px;
}

#footer-text {
    color: rgba(223, 16, 16, 0.884);
}
