body {
    background-color: rgba(2, 122, 143, 0.836);
    color: rgb(218, 7, 7);
}

.banner {
    color: rgb(236, 236, 7);
    font-size: 50px;
}

#footer-text {
    color: rgba(245, 121, 121, 0.884);
}
