body {
    background-color: rgba(16, 26, 27, 0.836);
    color: rgb(14, 6, 6);
}

.banner {
    color: rgb(17, 17, 8);
    font-size: 50px;
}

#footer-text {
    color: rgba(243, 145, 145, 0.884);
}
